.sprite_slime.spriteIndex_0 { background-image: url("../../assets/sprites/slime/slime_0.png"); }
.sprite_slime.spriteIndex_1 { background-image: url("../../assets/sprites/slime/slime_1.png"); }
.sprite_slime.spriteIndex_2 { background-image: url("../../assets/sprites/slime/slime_2.png"); }
.sprite_slime.spriteIndex_3 { background-image: url("../../assets/sprites/slime/slime_3.png"); }
