.forceEntity
{
  border: 2px dashed #00996655 !important;
  background-color: #00dd1155 !important;
}

.hitbox, .projectile
{
  border: 1px dashed #ff0055 !important;
  background-color: #990055 !important;
  z-index: 10;
}

.hurtbox
{
  border: 1px dashed #ff5b1355 !important;
  background-color: #bb555555 !important;
}
