@font-face {
  font-family: "Generic Mobile System";
  src: url("../assets/font/generic_mobile_system/GenericMobileSystem.ttf");
}

:root {
  --tileSize: 32px;
  --tilesX: 19;
  --tilesY: 13;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
}

body
{
  overflow-x: clip;
  overflow-y: auto;
}

/* I want to do my own margins for everything */
body * {
  margin: 0;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

#game, #project
{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-height: auto;
  padding: 12px 8px;
  z-index: 0;
  background-color: white;
}

#project 
{
  position: relative;
  padding-top: var(--tileSize);
  z-index: 10 !important;
}

#game > * 
{
  z-index: 1 !important;
}
