

.tile
{
  /* background-attachment: local !important; */
  /* background-size: 200%; */
  background-repeat: no-repeat;
  background-size: fill;
}

.tileID-floor0
{
  background-image: url("../assets/placeholder-map-tileset/192_224.png");
  background-repeat: no-repeat;
  background-size: fill;
}

.tileID-floor0 > img
{
  /* Info source: https://stackoverflow.com/a/11484688 */
  /* content: url("../assets/map-tileset/prototype_map_tileset.png");
  clip-path: polygon(0 0, 16px 0, 16px 16px, 0 16px);
  object-position: -176px -32px;
  object-fit: cover !important; */
}

/* # General */


.tileID-floor 
{
  background-image: url("../assets/tiles/floor_0.png");
}

.tileID-block 
{
  
}

/* # Walls */
.tileID-wall_top 
{
  background-image: 
    url("../assets/tiles/walls/top_wall.png"),
    url("../assets/tiles/floor_0.png");
}
.tileID-wall_bottom 
{
  background-image: 
    url("../assets/tiles/walls/bottom_wall.png"),
    url("../assets/tiles/floor_0.png");
}
.tileID-wall_left 
{
  background-image: 
    url("../assets/tiles/walls/left_wall.png"),
    url("../assets/tiles/floor_0.png");
}
.tileID-wall_right 
{
  background-image: 
    url("../assets/tiles/walls/right_wall.png"),
    url("../assets/tiles/floor_0.png");
}

.tileID-wall_bottom_left 
{
  background-image: 
    url("../assets/tiles/walls/corner_bottomleft.png"),
    url("../assets/tiles/floor_0.png");
}
.tileID-wall_bottom_right 
{
  background-image: 
    url("../assets/tiles/walls/corner_bottomright.png"),
    url("../assets/tiles/floor_0.png");
}
.tileID-wall_top_left 
{
  background-image: 
    url("../assets/tiles/walls/corner_topleft.png"),
    url("../assets/tiles/floor_0.png");
}
.tileID-wall_top_right 
{
  background-image: 
    url("../assets/tiles/walls/corner_topright.png"),
    url("../assets/tiles/floor_0.png");
}


/* # Doors */
.tileID-door_closed_left {}
.tileID-door_closed_right {}
.tileID-door_closed_top {}
.tileID-door_closed_bottom {}
.tileID-door_open_left {}
.tileID-door_open_right {}
.tileID-door_open_top {}
.tileID-door_open_bottom {}
